
/* ALLGEMEINES */
html, body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10pt;
    line-height: 1.6;
    background-image: url(img/background.png);
}

.hidden {
    display: none;
}


/* NAVIGATION */
.tabs {
    overflow: hidden;
    margin-left: 3%;
    margin-right: 2%;
}

.tabs button {
    background-color: #f1f1f1;
    border-radius: 20px 20px 0px 0px;
    width: 20%;
    margin-right: 0.2%;
    float: left;
    cursor: pointer;
    margin-top: 0.8%;
    padding: 1% 1%;
    transition: 0.3s;
    border-bottom: 0px;

}

.tabs li {
    list-style: none;
}

button:hover {
    background-color: rgb(159, 226, 178);
}
